/* .swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-pagination-bullet {
	background-color: var(--text-primary);
	opacity: 0.5;
}

.swiper-pagination-bullet-active {
	background-color: var(--button-primary);
	opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
	color: var(--text-primary);
}

.swiper-button-prev:after,
.swiper-button-next:after {
	font-size: 24px;
} */

.swiper {
}
.swiper-wrapper {
}
.swiper-slide .swiper-slide-prev {
}
.swiper-slide {
}
.swiper-slide .swiper-slide-next {
}
