@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Gray */
  --gray50: #f9fafb;
  --gray100: #f3f4f6;
  --gray200: #e5e7eb;
  --gray300: #d1d5db;
  --gray400: #9ca3af;
  --gray500: #6b7280;
  --gray600: #4b5563;
  --gray700: #374151;
  --gray800: #1f2937;
  --gray900: #111827;
  --gray950: #030712;

  /* Slate */
  --slate50: #f8fafc;
  --slate100: #f1f5f9;
  --slate200: #e2e8f0;
  --slate300: #cbd5e1;
  --slate400: #94a3b8;
  --slate500: #64748b;
  --slate600: #475569;
  --slate700: #334155;
  --slate800: #1e293b;
  --slate900: #0f172a;
  --slate950: #020617;

  /* Zinc */
  --zinc50: #fafafa;
  --zinc100: #f4f4f5;
  --zinc200: #e4e4e7;
  --zinc300: #d4d4d8;
  --zinc400: #a1a1aa;
  --zinc500: #71717a;
  --zinc600: #52525b;
  --zinc700: #3f3f46;
  --zinc800: #27272a;
  --zinc900: #18181b;
  --zinc950: #09090b;

  /* Neutral */
  --neutral50: #fafafa;
  --neutral100: #f5f5f5;
  --neutral200: #e5e5e5;
  --neutral300: #d4d4d4;
  --neutral400: #a3a3a3;
  --neutral500: #737373;
  --neutral600: #525252;
  --neutral700: #404040;
  --neutral800: #262626;
  --neutral900: #171717;
  --neutral950: #0a0a0a;

  /* Stone */
  --stone50: #fafaf9;
  --stone100: #f5f5f4;
  --stone200: #e7e5e4;
  --stone300: #d6d3d1;
  --stone400: #a8a29e;
  --stone500: #78716c;
  --stone600: #57534e;
  --stone700: #44403c;
  --stone800: #292524;
  --stone900: #1c1917;
  --stone950: #0c0a09;

  /* Blue */
  --blue50: #eff6ff;
  --blue100: #dbeafe;
  --blue200: #bfdbfe;
  --blue300: #93c5fd;
  --blue400: #60a5fa;
  --blue500: #3b82f6;
  --blue600: #2563eb;
  --blue700: #1d4ed8;
  --blue800: #1e40af;
  --blue900: #1e3a8a;
  --blue950: #172554;
}

.light {
  --heading: var(--gray950);
  --sub-heading: var(--gray900);

  --text-primary: var(--gray800); /* gray 800 */
  --text-secondary: var(--gray900); /* gray 900 */
  --text-tertiary: var(--blue600); /* blue 600 */
  --text-subtle: var(--gray700);
  --text-accent: var(--slate700);
  --text-link: var(--gray800);
  --text-link-active: var(--blue600);
  --text-link-hover: var(--blue600);

  --bg-color-body: var(--gray50);
  --bg-header: var(--gray100);
  --bg-color-container: var(--gray200);
  --bg-color-card: var(--gray100);
  --bg-accent: var(--gray200);
  --bg-link: var(--gray200);
  --bg-link-active: var(--gray200);
  --bg-link-hover: var(--gray200);

  --border-primary: var(--gray300); /* gray 900 */
  --border-card: var(--slate200);

  --icon-color: var(--blue500); /* (Gray 500) */

  --button-background: var(--blue600); /* blue 500 */
  --button-background-secondary: transparent;
  --button-border: var(--blue500); /* blue 500 */
  --button-text: var(--slate300); /* slate 300 */
  --button-hover: var(--blue700); /* blue 700 */
  --button-hover-background: var(--blue700); /* blue 700 */
  --button-hover-text: var(--slate300); /* slate 300 */

  --input-background-color: var(--gray50);
  --input-border-color: var(--gray200);
  --input-text-color: var(--slate800);
}
.dark {
  --heading: var(--gray50);
  --sub-heading: var(--slate300);

  --text-primary: var(--gray200);
  --text-secondary: var(--gray100);
  --text-subtle: var(--gray300);
  --text-accent: var(--slate500);
  --text-tertiary: var(--blue600);
  --text-link: var(--gray100);
  --text-link-active: var(--blue600);
  --text-link-hover: var(--blue600);

  --bg-color-body: var(--gray950);
  --bg-header: var(--gray800);
  --bg-color-container: var(--gray900);
  --bg-color-card: var(--gray800);
  --bg-accent: var(--gray600);
  --bg-link: var(--gray800);
  --bg-link-active: var(--slate700);
  --bg-link-hover: var(--slate700);

  --icon-color: var(--gray500);

  --border-primary: var(--gray700);
  --border-card: var(--slate700);

  --button-background: var(--blue600);
  --button-background-secondary: transparent;
  --button-border: var(--blue600);
  --button-text: var(--slate300);
  --button-hover: var(--blue700);
  --button-hover-background: var(--blue700);
  --button-hover-text-color: var(--gray100);

  --input-background-color: var(--gray600); /* Closest match to #495057 */
  --input-border-color: var(--gray500); /* Closest match to #666d74 */
  --input-text-color: var(--gray50);
}

.dark-alt {
  --heading: #e2e8f0; /* Gray 200 */
  --sub-heading: #a0aec0; /* Gray 400 */

  --text-primary: #e2e8f0; /* Gray 200 */
  --text-secondary: #edf2f7; /* Gray 50 */
  --text-tertiary: #63b3ed; /* Blue 400 */
  --text-subtle: #e2e8f0; /* Gray 200 */
  --text-accent: #e2e8f0; /* Gray 200 */

  --bg-color-body: #1a202c; /* Gray 900 */
  --bg-header: #2d3748; /* Gray 800 */
  --bg-color-container: #2d3748; /* Gray 800 */
  --bg-color-card: #1a202c; /* Gray 900 */
  --bg-accent: #2d3748; /* Gray 800 */

  --border-primary: #4a5568; /* Gray 700 */
  --border-card: #4a5568; /* Gray 700 */

  --icon-color: #63b3ed; /* Blue 400 */

  --button-background: #3182ce; /* Blue 600 */
  --button-background-secondary: transparent;
  --button-border: #3182ce; /* Blue 600 */
  --button-text: #e2e8f0; /* Gray 200 */
  --button-hover: #2b6cb0; /* Blue 700 */
  --button-hover-background: #2b6cb0; /* Blue 700 */
  --button-hover-text: #e2e8f0; /* Gray 200 */

  --input-background-color: #2d3748; /* Gray 800 */
  --input-border-color: #4a5568; /* Gray 700 */
  --input-text-color: #e2e8f0; /* Gray 200 */
}
